<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle >
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>My Sales</ion-title>
  </ion-navbar>
</ion-header>
<ion-content no-padding>
  <div ion-row>
    <ion-col col-4>
      <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="searchByDate" style="font-weight:bold; font-size:16px;"></ion-datetime>
    </ion-col>
    <ion-col col-8>
      <ion-searchbar placeholder="Bill No" [(ngModel)]="billNoStr" (ionInput)="SearchByBillNo()"></ion-searchbar>
    </ion-col>
  </div>
  <!--<ion-list *ngFor="let item of myFiltersortedList">
    <ion-item  (click)="ShowBillDetails(item)">
    <h4><b>{{item.billNum}}</b></h4>
    <p>Amount: Rs.{{item.totalamount}}</p>
    <button ion-button small (click)="returnSale()" color="secondary">Return</button>
    </ion-item>
  </ion-list>-->
  <!--<ion-card *ngFor="let item of myFiltersortedList">
    <ion-card-content>
      <ion-card-title>
        {{item.billNum}}
      </ion-card-title>
      <p>Amount: Rs.{{item.totalamount}}</p>
    </ion-card-content>
    <ion-row no-padding>
      <ion-col>
        <button ion-button clear small color="secondary" icon-left (click)="ShowBillDetails(item)">
          <ion-icon name='eye'></ion-icon>
          View
        </button>
      </ion-col>
      <ion-col text-right>
        <button ion-button clear small color="danger" icon-left (click)="returnSale()">
          <ion-icon name='return-left'></ion-icon>
          Return
        </button>
      </ion-col>
    </ion-row>
</ion-card>-->

<ion-list *ngFor="let item of myFiltersortedList">
    <ion-item-sliding>
      <ion-item (click)="ShowBillDetails(item)">
        <h2>{{item.billNum}}</h2>
        <p>Total Amount: Rs.{{item.totalamount}}</p>
      </ion-item>
      <ion-item-options>
        <!--<button ion-button color="secondary" icon-left (click)="ShowBillDetails(item)">
          <ion-icon name="eye"></ion-icon>
          View
        </button>-->
        <button ion-button color="danger" icon-right *ngIf="canReturnSale" (click)="returnSale(item)">
          <ion-icon name="return-left"></ion-icon>
          Return
        </button>
      </ion-item-options>
</ion-item-sliding>
</ion-list>
  <ion-fab bottom right>
    <button ion-fab color="secondary" big (click)="LoadMySalesForDay()"><ion-icon name="refresh-circle"></ion-icon></button>
  </ion-fab>
</ion-content>
