<ion-header>
  <ion-navbar>
  </ion-navbar>
  <ion-toolbar color="light">
    <!--<ion-row >
      <ion-col width-75>
        Todo - Load Categories
      </ion-col>
      <ion-col width-25>
        
        <button ion-button color="default"  (click)="SaveSales()"><ion-icon name="md-checkmark-circle-outline"></ion-icon></button>
        <button ion-button color="secondary"  (click)="PrintSales()"><ion-icon name="print"></ion-icon></button>
        <button ion-button color="danger"  (click)="CloseSales()"><ion-icon name="close-circle"></ion-icon></button>
      </ion-col>
    </ion-row>-->
  </ion-toolbar>
</ion-header>
<ion-content>  
  <ion-row>
    <ion-col width-60>
      <div id="salesdiv">
        <ion-row>
          <div id="salesItemsdiv">
            <ion-row>
              <ion-col width-33>
                <ion-item>
                  <ion-label color="dark">Cust</ion-label>
                  <ion-input [(ngModel)]="customerName" readonly type="text"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col width-33>
                <ion-item>
                  <ion-label color="dark">Validity</ion-label>
                  <ion-input [(ngModel)]="validateDate" readonly type="text"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col width-33>
                <ion-item>
                  <ion-label color="dark">Sale Book</ion-label>
                  <ion-input [(ngModel)]="saleBookopt" readonly type="text"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col width-33>
                <ion-item>
                  <ion-label color="dark">Bill #</ion-label>
                  <ion-input [(ngModel)]="generatedBillNo" readonly type="text"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col width-33>
                <ion-item>
                  <ion-label color="dark">Date</ion-label>
                  <ion-input [(ngModel)]="todayDate" readonly type="text"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col width-33>
                <ion-item>
                  <!--<ion-select [(ngModel)]="saletime" color="dark">
                    <ion-option [value]="prefix" *ngFor=" let book of salesBookList">{{bookname}}</ion-option>
                  </ion-select>-->
                  <ion-label color="dark">Time</ion-label>
                  <ion-input [(ngModel)]="saletime" readonly type="text"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col width-20>
                <ion-item>
                  <ion-label color="dark">QTY</ion-label>
                  <ion-input type="number" [(ngModel)]="quantityItems" min="1" tabindex="1"></ion-input>
                </ion-item>
              </ion-col>
              
              <!--<ion-col width-75>
                <ion-item>
                  <ion-input placeholder="Search by barcode" [(ngModel)]="productSearchQuery" type="text" (keypress)="AddPrintSaleItems($event)"></ion-input>
                </ion-item>
              </ion-col>-->
              <ion-col width-70>                
            <ion-searchbar tabindex="2" placeholder="{{searchTypestr}}" [(ngModel)]="productSearchQuery" (ionInput)="showFilterProducts()" (keypress)="AddPrintSaleItems($event)"></ion-searchbar>
          </ion-col>
          <ion-col width-10>
            <ion-item>
              <ion-checkbox color="dark" [(ngModel)]="chkSearchType" (ionChange)="onSearchTypeChange()"></ion-checkbox>
            </ion-item>
          </ion-col>
            </ion-row>
          </div>
        </ion-row>
        <ion-row>
          <ion-grid id="ionListSty">
            <ion-row id="saleItemHeader" align-items-center>
              <ion-col col-6>
                Item Name
              </ion-col>
              <ion-col col-3>
                Qty.
              </ion-col>
              <ion-col col-3>
                Price
              </ion-col>
              <ion-col col-1>

              </ion-col>
            </ion-row>
            <form novalidate [formGroup]="salesForm"> 
              
            <ion-row class="colborder" formArrayName="salesItems" *ngFor="let item of salesItems.controls; let i=index">                              
                  <ion-row [formGroupName]="i">
                    <ion-col col-6 wrap>
                      <!--<ion-label>curd rice sadfbasdjhas asdfjasjd asdfbasjdfbj</ion-label>-->
                      <ion-input formControlName="itemName" id="{{ 'itemName' + i }}" readonly type="text"></ion-input>
                    </ion-col>
                    <ion-col col-3>
                      <ion-row no-padding>
                        <ion-col>
                          <button ion-button small color="danger" (click)="ReduceQty(i)" id="{{ 'itemQtyMinus' + i }}">-</button>
                        </ion-col>
                        <ion-col>
                          <ion-input formControlName="itemQty" id="{{ 'itemQty' + i }}" readonly type="text"></ion-input>
                        </ion-col>
                        <ion-col>
                          <button ion-button small color="secondary" (click)="AddQty(i)" id="{{ 'itemQtyPlus' + i }}">+</button>
                        </ion-col>
                      </ion-row>
                    </ion-col>
                    <ion-col col-2>
                      <ion-input formControlName="itemPrice" id="{{ 'itemPrice' + i }}" readonly type="text"></ion-input>
                    </ion-col>
                    <ion-col col-1>
                      <button ion-button color="danger" id="{{ 'itemtrash' + i }}" (click)="RemoveItem(i)" small><ion-icon name="trash"></ion-icon></button>
                    </ion-col>
                  </ion-row>
            </ion-row>
              
            </form>
          </ion-grid>
        </ion-row>
        <!-- Summary -->
        <ion-row style="background-color: lightgreen" *ngIf="isSalesItemsExists">
          <ion-row>
            <ion-col width-25>
              <ion-item>
                <ion-label color="dark">Discount</ion-label>
                <ion-input [(ngModel)]="discountper" type="number" min="1" max="20" (change)="ApplyDiscount()"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col width-33>
              <ion-item>
                <ion-label color="dark">Pay by</ion-label>
                <ion-select readonly>
                  <ion-option value="cash" selected>Cash</ion-option>
                  <ion-option value="card">Debit/Credit Card</ion-option>
                  <ion-option value="cheque">Cheque</ion-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col width-40>
              <ion-item>
                <ion-label color="dark">Sub Total</ion-label>
                <ion-input [(ngModel)]="salesubTotal" readonly type="text"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-row>
        <ion-row style="background-color: lightgreen" *ngIf="isSalesItemsExists">
          <ion-col width-25>

          </ion-col>
          <ion-col width-33>

          </ion-col>
          <ion-col width-40>
            <ion-item>
              <ion-label color="dark">Grand Total</ion-label>
              <ion-input [(ngModel)]="grandTotal" readonly type="text"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row style="background-color: lightslategray" *ngIf="isSalesItemsExists">
          <ion-col>
            <ion-item>
              <ion-label floating color="dark">Narration</ion-label>
              <ion-input [(ngModel)]="txtnarration" type="text"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </div>
    </ion-col>
    <ion-col width-40>
      <div id="proddiv">
        <!--<ion-row>
          <div id="prodbtndiv">
            <ion-row>
              <ion-col width-20>
                <ion-label style="color: white">Quantity.</ion-label>
              </ion-col>
              <ion-col width-80>
                <button ion-button [color]="qtyBtnSelected == p ? 'secondary' : 'dark'" (click)="setQuantityColor(p)" *ngFor="let p of qtybuttonlist">{{p}}</button>
              </ion-col>
            </ion-row>
          </div>
        </ion-row>-->
        <!--<ion-row>
          <ion-col width-75>
            <ion-searchbar placeholder="{{searchTypestr}}" [(ngModel)]="prodsearchQuery" (ionInput)="showFilterProducts()"></ion-searchbar>
          </ion-col>
          <ion-col width-10>
            <ion-item>
              <ion-checkbox color="dark" [(ngModel)]="chkSearchType" (ionChange)="onSearchTypeChange()"></ion-checkbox>
            </ion-item>
          </ion-col>
        </ion-row>-->
        <ion-row>
          <div id="prodlistdiv">
            <div style="display: flex; flex-wrap: wrap; align-items: stretch;">
              <div *ngFor="let s of productslist; let i = index" style="flex: 0 0 calc( 100% / 2 - 2px );">
                <ion-card (click)="AddProductToSale(s)">
                  <ion-card-content>
                    {{s.productName}}({{s.stockonhand}})
                  </ion-card-content>
                </ion-card>
              </div>
            </div>
          </div>
        </ion-row>
      </div>

    </ion-col>
  </ion-row>
  
</ion-content>
